.dashboard-container {
  display: flex;
  flex-direction: row;
}

.dash-table {
  border: 1px solid #e7eaee;
  border-radius: 6px 6px 0 0;
  margin-left: 1.5rem;
}

.button-bars {
  display: flex;
  flex-direction: row;
  margin-left: 1.5rem;
}

.dashboard-btn {
  padding: 12px 24px;
  gap: 8px;
  background: #fff;
  border: 1px solid #e7eaee;
  border-radius: 99px;
  margin-right: 10px;
  font-family: OpenSauceSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #07090d;
}

.dashboard-btn-active {
  background: #2457fa;
  border: 1px solid #2457fa;
  font-family: OpenSauceSansRegular;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #fff;
}
