.sidenav-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.payment-search {
  width: 276px;
  height: 33px;
  display: flex;
  border: 1px solid #e7eaee;
  border-radius: 99px;
  color: #818a9b;
  margin-left: auto;
  margin-right: 18%;
}

.payment-search > input {
  align-items: center;
  font-family: OpenSauceSansRegular;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  border: none;
  color: #818A9B;
}

.payment-search > input:focus {
  outline: none;
}

.payment-search > svg {
  width: 13px;
  height: 13px;
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 10px;
  padding-right: 8px;
}
.dash-table {
  width: 80%;
}
