.tab-grid-custom {
  display: flex;
  flex-direction: column;
}

.tab-list {
  display: flex;
  flex-direction: row;
  padding-left: 1.5rem;
}

/*
.tab-list > button {
    padding-top: 1.5rem;
    border: none;
    width: 200px;
    height: 28px;
    background-color: transparent;
}

button {
    font-family: 'OpenSauceSansRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.006em;
    color: #586173;
} */

.tab-content {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
}

.content-1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  height: 350px;
  width: 544px;
  border: 1px solid #e7eaee;
  border-radius: 12px;
}

.content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  width: 94%;
  background: #f6f7f9;
  border: 1px solid #e7eaee;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.content-text > span {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.09px;
  color: #000;
}

.content-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 24px;
  gap: 12px;
  width: 544px;
  height: 248px;
}

.content-2 {
  height: 435px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 544px;
  border: 1px solid #e7eaee;
  border-radius: 12px;
}

.custom-btn-class {
  border: none;
  width: 122px;
  height: 24px;
  background-color: transparent;
  font-family: OpenSauceSansRegular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.006em;
  color: #586173;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #e7eaee !important;
  margin: 0 1.2rem 1.2rem 24px;
}

.react-tabs__tab {
  display: inline-block;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab-panel {
  margin: 0 1.2rem;
}

.react-tabs__tab--selected {
  border-bottom: 4px solid #2457fa !important;
}
