.sidebar-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 0px 24px 24px;
    gap: 8px;
    width: 220px;
    background: #FFFFFF;
    border-right: 1px solid #E7EAEE;
}

.profile-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.usericon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.profile-name > span {
    font-family: 'OpenSauceSansRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.006em;
    color: #07090D;
    padding-right: 0.5rem;
}

.sidebar-navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2rem;
}

.menu-item {
    display: flex;
    align-items: center;
    height: 32px;
    text-decoration: none;
    margin-bottom: 1.5rem;
}

.menu-item > svg {
    width: 32px;
    height: 24px;
    margin-right: 16px;
    color: #979FB3;
}

.menu-item > span {
    width: 160px;
    font-family: 'OpenSauceSansRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.006em;
    color: #979FB3;
}

.sidebar-navbar-second {
    margin-top: 32px;
}

.collapse {
    display: flex;
    align-items: center;
}

.collapse > svg {
    width: 32px;
    height: 24px;
    color: #979FB3;
    margin-right: 16px;
}

.collapse > span {
    font-family: 'OpenSauceSansRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.006em;
    color: #979FB3;
}