.smallnav-title {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px 24px;
  gap: 10px;
  height: 68px;
  background: #fff;
}

.smallnav-title > span {
  font-family: OpenSauceSansSemiBold;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.006em;
  color: #07090d;
  display: flex;
}

span > svg {
  width: 20px;
  height: 32px;
  color: #979fb3;
  padding-left: 0.7rem;
}
