.faq-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 3rem 0;
}

.faq-title {
    width: 42%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.faq-title > div > h4 {
    font-size: 15px;
    color: #1355FF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    margin-left: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.faq-second-heading {
    font-family: 'Open Sauce Sans';
    font-weight: 700;
    
}

.faq-second-heading > h1{
    font-size: 44px;
    line-height: 60px;
    color: #07090D;
    margin-bottom: -5px;
}

.faq-second-heading > span {
    font-size: 44px;
    color: #1355FF;
}

.faq-email-section {
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    font-weight: 400;
    margin-top: 12rem;
}

.faq-email-section > p {
    color: #586174;
    font-size: 14px;
}

.faq-email-section > span {
    color: #1355FF;
    font-size: 16px;
    padding-top: 0.8rem;
}

.faq-details {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    width: 57%;
}
  
.faq-items {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 2rem;
}
  
.faq-item {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    border-bottom: 1px solid aliceblue;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    transition: 0.5s cubic-bezier(0, 0.5, 0, 1);
    margin-top: 0.4rem;
}
 
.faq-item.opened {
    background: #F6F7F9;
    transition: 0.2s ease-in-out;

} 

.faq-question {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 8px 15px;
}
  
.faq-question > span {
    font-family: 'Open Sauce Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #07090D;
}
  
.faq-question:hover {
    cursor: pointer;
}
  

.faq-answer {
    font-family: 'Inter';
    letter-spacing: -0.03em;
    max-height: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3C4353;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0, 0.5, 0, 1);
    padding: 5px 5px 5px 15px;
}
  
.faq-answer.opened {
    max-height: 500px;
    margin-bottom: 0.8rem;
    transition: max-height 0.4s ease-in-out;
}
  
.faq-icon {
    transition: transform 0.5s; 
    margin-top: 0.2rem;
} 
  
.icon-down {
    color: #58595b;
}

  
.faq-icon > .arrow {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    margin : 0 1rem;
}
  
.faq-icon > .arrow > span {
    top: 0.5rem;
    position: absolute;
    width: 0.75rem;
    height: 0.1rem;
    display: inline-block;
    transition: all .4s ease;
}
  
.faq-icon > .arrow > span:first-of-type{
    left: 0;
    transform: rotate(45deg);
    background: rgb(77, 75, 75);
    height: 3px;
}
  
.faq-icon > .arrow > span:last-of-type{
    right: 1.5px;
    transform: rotate(-45deg);
    background: rgb(77, 75, 75);
    height: 3px;
}
  
.faq-icon.opened > .arrow > span:first-of-type{
    transform: rotate(-45deg);
}
  
.faq-icon.opened > .arrow > span:last-of-type{
    transform: rotate(45deg);
}
  
  
  @media only screen and (max-width: 1226px) and (min-width: 1028px) {
    .faq-question > span {
      font-size: 38px;
    }
  
    .faq-answer {
      font-size: 30px;
    }
  
    .faq-icon {
      margin-right: 0.4rem;
      margin-top: 0.5rem;
    }
  }
  
  @media only screen and (max-width: 1028px) and (min-width: 880px) {
    .faq-question > span {
      font-size: 36px;
    }
  
    .faq-answer {
      font-size: 26px;
    }
  
    .faq-icon {
      margin-right: 0.8rem;
      margin-top: 1rem;
    }
  }
  
  @media only screen and (max-width: 880px) and (min-width: 526px) {
    .faq-question > span {
      font-size: 34px;
    }
  
    .faq-answer {
      font-size: 25px;
    }
  
    .faq-icon {
      margin-right: 1rem;
      margin-top: 0.9rem;
    }
  
    .faq-mascot {
      display: none;
    }
  }
  
  @media only screen and (max-width: 526px) {
    .faq-question > span {
      font-size: 30px;
    }
  
    .faq-answer {
      font-size: 20px;
    }
  
    .faq-icon {
      margin-right: 1.4rem;
      margin-top: 0.9rem;
    }
  
    .faq-mascot {
      display: none;
    }
  }