.faq-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 40px;
}

.faq-title {
  width: 40%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.faq-second-heading {
  font-family: OpenSauceSansSemiBold;
  font-weight: 700;
}

.faq-second-heading > h1 {
  font-family: OpenSauceSansSemiBold;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: -0.019em;
  color: #07090d;
}

.faq-second-heading > span {
  font-family: OpenSauceSansSemiBold;
  line-height: 60px;
  letter-spacing: -0.019em;
  font-size: 44px;
  color: #1355ff;
}

.faq-email-section {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-weight: 300;
  margin-top: 16rem;
}

.faq-email-section > p {
  font-family: Inter;
  font-weight: 300;
  width: 298px;
  color: #586174;
  font-size: 14px;
  letter-spacing: -0.09px;
  line-height: 24px;
}

.faq-email-section > span {
  font-family: Inter;
  font-weight: 300;
  color: #1355ff;
  font-size: 16px;
  padding-top: 0.8rem;
}

.faq-details {
  width: 60%;
  display: flex;
  flex-direction: row;
}

.faq-items {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.faq-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e7eaee;
  padding: 40px 0 16px 32px;
  background: transparent;
  transition: 0.6s ease-in-out;
}

.faq-item.opened {
  background: #f6f7f9;
  transition: 0.4s ease-in-out;
}

.faq-question {
  display: flex;
  justify-content: space-between;
}

.faq-question > span {
  font-family: OpenSauceSansRegular;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #07090d;
}

.faq-question:hover {
  cursor: pointer;
}

.faq-answer {
  font-family: Inter;
  letter-spacing: -0.03em;
  max-height: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3c4353;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0, 0.5, 0, 1);
  padding: 24px 0 0;
}

.faq-answer.opened {
  max-height: 500px;
  padding: 24px 0 0;
  transition: max-height 0.4s ease-in-out;
}

.faq-icon {
  transition: transform 0.5s;
  margin-top: 0.2rem;
}

.icon-down {
  color: #58595b;
}

.faq-icon > .arrow {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;
  margin: 0 1rem;
}

.faq-icon > .arrow > span {
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  display: inline-block;
  transition: all 0.4s ease;
}

.faq-icon > .arrow > span:first-of-type {
  left: 0;
  transform: rotate(45deg);
  background: #1c2436;
  height: 2px;
}

.faq-icon > .arrow > span:last-of-type {
  right: 1px;
  transform: rotate(-45deg);
  background: #1c2436;
  height: 2px;
}

.faq-icon.opened > .arrow > span:first-of-type {
  transform: rotate(-45deg);
}

.faq-icon.opened > .arrow > span:last-of-type {
  transform: rotate(45deg);
}

@media only screen and (max-width: 1226px) and (min-width: 1028px) {
  .faq-question > span {
    font-size: 38px;
  }

  .faq-answer {
    font-size: 30px;
  }

  .faq-icon {
    margin-right: 0.4rem;
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 1028px) and (min-width: 880px) {
  .faq-question > span {
    font-size: 36px;
  }

  .faq-answer {
    font-size: 26px;
  }

  .faq-icon {
    margin-right: 0.8rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 880px) and (min-width: 526px) {
  .faq-question > span {
    font-size: 34px;
  }

  .faq-answer {
    font-size: 25px;
  }

  .faq-icon {
    margin-right: 1rem;
    margin-top: 0.9rem;
  }

  .faq-mascot {
    display: none;
  }
}

@media only screen and (max-width: 526px) {
  .faq-question > span {
    font-size: 30px;
  }

  .faq-answer {
    font-size: 20px;
  }

  .faq-icon {
    margin-right: 1.4rem;
    margin-top: 0.9rem;
  }

  .faq-mascot {
    display: none;
  }
}
