.feature-container {
    width: 100%;
    margin: 2rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
}

.text-special-feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-family: 'Open Sauce Sans';
    font-style: normal;
    margin-top: 0.8rem;
    letter-spacing: -0.015em;
}

.text-special-feature > h3 {
    font-size: 44px;
    color: #07090D; 
}

.text-special-feature > span {
    font-size: 44px;
    color: #1355FF;
    margin-left: 10px;
    font-weight: 500;
}

.feature-description {
    margin-top: 2rem;
}

.feature-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.feature-wrapper-1 ,
.feature-wrapper-2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 2rem;
}

.each-feature {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.feature-icon {
    background: #F0F5FF;
    width: 44px;
    height: 44px;
    border-radius: 4px;
}

.feature-icon > img {
    padding: 10px;
    width: 17px;
    height: 14px;
    margin-top: 5px;
}

.feature-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

.feature-name > h3 {
    font-size: 18px;
    color: #07090D;
    font-family: 'Open Sauce Sans';
    font-weight: 700;
    line-height: 24px;
}

.feature-name > p {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    color: #586174;
    margin-top: 0.8rem;
    line-height: 22px;
}