.homepage-timeline,
.homepage-about,
.homepage-team,
.homepage-feature,
.homepage-faq,
.homepage-testimonials {
  padding: 5rem 0;
}

.homepage-timeline {
  margin-bottom: 160px;
}

.homepage-herosection {
  padding-bottom: 5rem;
}

.homepage-footer {
  background: #07090d;
  margin-top: 40px;
}
