.home-title {
    width: 100%;
    letter-spacing: 1.25px;
}

.home-title > span {
    font-size: 24px;
    color: #1355FF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}