.team-container {
    display: flex;
    flex-direction: column;
}

.team-title {
    margin-bottom: 2.5rem;
}

.team-title > h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #1355FF;
}

.team-title > .team-bold-text {
    font-family: 'Open Sauce Sans Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #07090D;
}

.team-bold-text > span {
    color: #1355FF;
}

.team-description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.team-card {
    border: 1px solid #E7EAEE;
    border-radius: 15px;
    margin: 0 2rem 0 0;
}

.team-card:first-child {
    margin-left: 30px;
}

.img-placeholder {
    width: 288px;
    height: 280px;
    background: #F5F5F5;
    border-radius: 12px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 1rem;
}

.user-title, 
.team-card-description {
    margin-left: 1rem;
}

.card-links {
    margin-left: 1rem;
    margin-bottom: 1.2rem;
}

.user-title {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #E7EAEE ;
}

.user-name {
    font-family: 'OpenSauceSansRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.015em;
    font-feature-settings: 'pnum' on, 'lnum' on, 'ss03' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'case' on, 'cpsp' on;
    color: #07090D;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-right: 1.5rem;
    border-right: 1px solid #E7EAEE;
    margin-bottom: 1rem;
}

.user-rank {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.09px;
    color: #1355FF;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
}

.team-card-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 288px;
    letter-spacing: -0.18px;
    color: #586174;

}

.card-links > svg {
    margin-top: 1rem;
    align-items: flex-start;
    width: 25px;
    height: 25px;
    padding: 8px;
    gap: 10px;
    background: #F6F7F9;
    border-radius: 4px;
    flex-wrap: wrap;
    margin-right: 1rem;
    cursor: pointer;
    transition: filter .5s; /* Animation */
}

.card-links > svg:hover {
    filter: brightness(90%);
}
