.testimonials-container {
    display: flex;
    flex-direction: column;
}

.testimonials-title {
    margin-bottom: 1rem;
}

.testimonials-title > h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
     text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-feature-settings: 'ss01' on, 'ss03' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on;
    color: #1355FF;
}

.testimonials-bold-text {
    font-family: 'OpenSauceSansRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.015em;
    font-feature-settings: 'pnum' on, 'lnum' on, 'ss03' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'case' on, 'cpsp' on;
    color: #07090D;
}

.testimonials-bold-text > span {
    color: #1355FF;
}

.testimonials-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}

.testimonials-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 352px;
    height: 368px;
    background: #FFFFFF;
    border: 1px solid #E7EAEE;
    border-radius: 12px;  
}

.img-svg {
    width: 64px;
    height: 64px;
    background: #C4C4C4;
    border-radius: 50%;
    margin: 2.5rem 0;
}

.testimonials-card-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.18px;
    color: #07090D;
    padding: 0rem 2.3rem;
}

.test-title {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #07090D;
}

.test-rank {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #818A9C;
}