:root {
    --neutral_0 : #FFFFFF;
    --neutral_100 : #F6F7F9;
    --neutral_200 : #E7EAEE;
    --neutral_300 : #C3C9D4;
    --neutral_400 : #979FB3;
    --neutral_500 : #818A9B;
    --neutral_600 : #586174;
    --neutral_700 : #3C4352;
    --neutral_800 : #1B212C;
    --neutral_900 : #07090D;
    --lighter_blue : #F0F5FF;
    --base_blue : #2457FA; 
    --gray : #071236;

}